#users>.user-7{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#users>.user-7>.text{
	font-size: 35px;
	color: #0000ff;
}

#users>.user-7>.text:hover{
    font-size: 50px;
	cursor: pointer;
	color: red;
}