#users>.user-7{
	color:red;
	display: flex;
	justify-content: center;
	align-items: center;
}

#users>.user-7>.text{
	font-size: 35px;
	color: #0000ff;
}

#users>.user-7>.text:hover{
    font-size: 50px;
}